
@inherits RazorEngineTemplating.RazorEngineBaseTemplate<EmailTemplateDemo.EmailTemplates.SampleEmailTemplateModel>
<!doctype html>
<html>
    <head>
        <title>@(Model.EmailTagline)</title>
    </head>

    <body>
        <div>
            <h1>@(Model.EmailTagline)</h1>
        </div>
                    
        <div>
            @foreach (var item in Model.ListCollectionItems)
            {
                <div>
                    <p>Description: @item.CollectionItemDescription</p>
                </div>
            }
        </div>
    </body>
</html>
